extends layout

block content
  div(class='row')
    div(id='inserir' class='')
      h4 Inserir Registro:
      div
        <form id='inserirDado'>
          <div class="form-group inline">
            <label for="Temperatura Media (C)">Temperatura media</label>
            <input type="text" class="form-control" id="Temperatura_Media" required>
          </div>  
          <div class="form-group inline">
            <label for="Temperatura Minima (C)">Temperatura minima</label>
            <input type="text" class="form-control" id="Temperatura_Minima" required>
          </div>
          <div class="form-group">
            <label for="Temperatura Maxima (C)">Temperatura maxima</label>
            <input type="text"  class="form-control" id="Temperatura_Maxima" required>
          </div>
          <div class="form-group">
            <label for="Final de Semana">Final de Semana</label>
            <input type="text" class="form-control" id="Final_de_Semana" required>
          </div>
          <div class="form-group">  
            <label for="Consumo de Cerveja">Consumo</label>
            <input type="text" class="form-control" id="Consumo_de_Cerveja" required>
          </div>
          <div class="form-group">  
            <label for="Data">Data</label>
            <input type="text" class="form-control" id="Data" required>
          </div>

          <button type="submit" class="btn btn-primary">Inserir</button>
        </form>
  div(class='row')
    table(id='myTable')


      

